body{
  background-color: #fbe5b6;
}

h1{
  color: #bc5a94;
  font-family:'Arial';
}

h2{
  color: #bc5a94;
  font-family:'Arial'
}

h3{
  color: #bc5a94;
  font-family:'Arial'
}

p{
  color: #bc5a94;
  font-family:'Arial'
}

.home_page_links{
  border-radius: 25px;
  background: #ADD899;
  padding: 20px;
  width: 400px;
  height: 400px;
}

.game_links{
  border-radius: 25px;
  background: #ADD899;
  padding: 10px;
  width: 100px;
  height: 100px;
  position: relative;
  left: 50%;
  transform: translate(0, -50%);
}

.web_pages{
  border-radius: 25px;
  background: #ADD899;
  padding: 5px;
  height: 300px;
}
